<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760030249717-q8usrkairluo949k5pg32hmf7if83q6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760030249717-q8usrkairluo949k5pg32hmf7if83q6r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>760030249717-s4sctkf3rlg82681cu0adef09c5qea45.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBiFll3RwlMYNvcmtEVZ0Oh634K6HASPF0</string>
	<key>GCM_SENDER_ID</key>
	<string>760030249717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-9fcb3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-9fcb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760030249717:ios:aff3a2a599b2a1d25b3bbc</string>
</dict>
</plist>